body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;

  }
  
  .title {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  

  .intro {
    color: #fff;
    font-size: 0.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 2rem;
  }
  
  

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(33.33% - 10px);
    grid-gap: 10px;
    width: 90%;
    max-width: 800px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 8px;
    min-height: 60px;
}

.button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}


.button-label {
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}

.button-label::before {
    content: '';
    display: block;
    height: 100%;
    margin-bottom: -8px;
}

.button:hover img {
    transform: scale(1.1);

}

.button:active {
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.button:focus {
    outline: none;
}
