body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("images/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity 0.7s ease;
  }
  
  body.loaded .background {
    opacity: 1;
  }
  
  @media (min-width: 800px) {
    .background {
      background-size: auto;
    }
  }
  

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 0rem;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    margin-bottom: 1rem;
  }
  
  .intro {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0rem;
    text-align: center;
    padding: 0 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    line-height: 1.3rem;
    max-width: 600px;
    margin: 0 auto;
  }
  
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(33.33% - 10px);
    grid-gap: 10px;
    width: 90%;
    max-width: 400px;
    padding-top: 280px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 95%;
    height: 95%;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 8px;
    min-height: 60px;
    animation: button-appear 0.3s ease-out forwards;
    opacity: 0;
}

@keyframes button-appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .button:nth-child(1) {
    animation-delay: 0.05s;
  }
  
  .button:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .button:nth-child(3) {
    animation-delay: 0.15s;
  }
  
  /* Add styles for the remaining buttons here */
  .button:nth-child(4) {
    animation-delay: 0.2s;
  }
  
  .button:nth-child(5) {
    animation-delay: 0.25s;
  }
  
  .button:nth-child(6) {
    animation-delay: 0.3s;
  }
  
  .button:nth-child(7) {
    animation-delay: 0.35s;
  }
  
  .button:nth-child(8) {
    animation-delay: 0.4s;
  }
  
  .button:nth-child(9) {
    animation-delay: 0.45s;
  }
  
  .button:nth-child(10) {
    animation-delay: 0.5s;
  }
  
  .button:nth-child(11) {
    animation-delay: 0.55s;
  }
  
  .button:nth-child(12) {
    animation-delay: 0.6s;
  }

.button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.button-label {
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}

.button-label::before {
    content: '';
    display: block;
    height: 100%;
    margin-bottom: -8px;
}

.button:hover img {
    transform: scale(1.1);

}

.button:active {
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.button:focus {
    outline: none;
}
