body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url("images/background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 800px) {
    body {
        background-size: auto;
    }
}

header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 0rem;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  }
  

  .intro {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0rem;
    text-align: center;
    padding: 0 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    line-height: 1.3rem;
  }
  

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(33.33% - 10px);
    grid-gap: 10px;
    width: 90%;
    max-width: 400px;
    padding-top: 280px;
}

.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 95%;
    height: 95%;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 8px;
    min-height: 60px;
}

.button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.button-label {
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    /*background-color: rgba(0, 0, 0, 0.25);*/
}

.button-label::before {
    content: '';
    display: block;
    height: 100%;
    margin-bottom: -8px;
}

.button:hover img {
    transform: scale(1.1);

}

.button:active {
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.button:focus {
    outline: none;
}
